:root {
    --color-main: #fafafa;
    --color-main-light: #fafafa;
    --color-sub: #fafafa;
    --color-sub-light: #fafafa;
    --color-light: #fafafa;
    --color-text: #414141;
    --color-text-hover: #181818;
    --color-bg: #ececec;

    --color-success: #359e64;
    --color-success-bg: #def8e8;
    --color-error: #fc4b0b;
    --color-error-bg: #fff2ee;

    --font-base: roboto, arial, helvetica, 'Segoe UI', ubuntu, sans-serif;
    --font-size: 2rem;
    --font-monospace: 'Fira Code', 'Courier New', courier, monospace;
    --font-regular: 300;
    --font-medium: 500;
    --font-bold: 700;
}